/*
    Example sass file
    Use:
        * url(getExtensionAssetsPath('img/image.jpg')); to reference images and fonts in your assets folder
        * url(getThemeAssetsPath('img/theme-image.jpg')); to reference images and fonts in the active theme available
*/ 
.loyaltyprofileupdate-layout {
    background: #f6f6f6;
    padding: 50px;
    float: left;
    width: 100%;
}
.update-profile-section {
    width: 34%;
    margin: 0px;
}
#success_msg {
   color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 4px 32px;
    border-radius: 3px;
    margin-bottom: 14px;
}
.profile-form label {
    margin-bottom: 4px;
}
.profile-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 4px 10px;
    margin: 0 0 9px 0px;
    border-radius: 3px;
}
.profile-form label {
    font-size: 14px;
}
.profile-form input {
    font-size: 13px;
    border: 1px solid #303130;
    color: #000;
}
.pro_btn {
    width: auto !important;
    padding: 11px 20px !important;
    height: auto !important;
    line-height: normal !important;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0 0 0 !important;
}